<div class="container">
  <div class="row">

      <div class="jumbotron">
        <h2 class="text-center">Sin Hack</h2>
        <small><a class="btn btn-default" href="/service">Service</a></small>
        <small><a class="btn btn-default" href="/about">About</a></small>
        <small><a class="btn btn-default" href="/contact">Contact</a></small>
        <small><a class="btn btn-default" href="/blog/first-post">Blog- First Post</a></small>
      </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
</div>
